/* table style*/
.container {
    padding: 2rem 0rem;
  }
  
h4 {
    margin: 2rem 0rem 1rem;
  }
  
.table-image {
    td, th {
      vertical-align: middle;
    }
  }


.img-format {

    width: 150%;
    height: auto;

}



.fa {
    padding: 10px;
    float: right;
    margin: 5px;
  }
 


  .button_right {
  float: right;
    
}

.bs-example{
  margin: 20px;
}

.button-center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.social a {
  padding: 0 .5em;
}