<html>

<head>
  {% load social_share %}
  <title>WT House</title>
  <link rel="stylesheet" href="{%  static 'css/base.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/sharer.js/latest/sharer.min.js"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>


<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0"
  nonce="daVN8XUk"></script>
<script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>

{% block header %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Annotation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/validation/">Validation</a>
      </li>
    </ul>
  </div>

  <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"
    data-size="small"></div>
  <script type="IN/Share" data-url="https://www.linkedin.com"></script>
  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</nav>




{% endblock %}

{% block content %}
{% endblock %}


<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
  const sliced_list = [];
  var flag = false;
  var k = 0;
  var remainder = 5;
  var finalFlag = false;    
  const formatted_arr = [];
  function bind(page) {

    if (flag) {
      const current_page = Number(sessionStorage.getItem("currentPage"));

      if (Number(current_page) < sliced_list.length - 1 || remainder != 5) {
        

		next(sliced_list);
        sessionStorage.setItem("currentPage", String(current_page + 1));

      } else {

        alert("All pictures are annotated!");
      }
    }
    //onload();
    //$(function(){ window.location.hash = "#text"+parseInt(k-5); })
  }
  function next(sliced_list) {

    const current_page = Number(sessionStorage.getItem("currentPage"));
    const paged_list = sliced_list[current_page];

    for (let i = 0; i < paged_list.length; i++) {

      $("#next" + parseInt(k - 1)).attr("style", "display:none;");
      $("#first").append(`<tr>
					                   <td class='w-50'><img src='{{ "https://segmentedimagesoutdir.s3.amazonaws.com/${paged_list[i]}" }}' class="img-fluid img-thumbnail" alt="Sheep">
						                   <input type="hidden" name="pic`+ parseInt(k + i) + `" id="pic`+ parseInt(k + i) + `" value="https://segmentedimagesoutdir.s3.amazonaws.com/${paged_list[i]}"></td>
					                   <td><textarea class='form-control' id='text`+ parseInt(k + i) + `' name='text` + parseInt(k + i) + `' onfocus='getText(`+parseInt(k+i)+`)'  rows="1" value='{{ csrf_token }}' required></textarea></td>
				                  </tr>`);
    }
    k += paged_list.length;
    flag = false;
    bind(current_page);
  }


  $(document).ready(function () {
    sessionStorage.setItem("currentPage", String(0));

	const string_all_pic = document.getElementById("all_pic").value;
	
    string_all_pic.substring(1, string_all_pic.length - 1).split(", ").forEach((item) => {
      formatted_arr.push(item.substring(1, item.length - 1));
    });
	
    const size = 5
    for (let i = 0; i < formatted_arr.length; i += size) {
      sliced_list.push(formatted_arr.slice(i, i + size));
    }

    const first_sliced_list = sliced_list[0];

    for (let i = 0; i < first_sliced_list.length; i++) {

      var page = Number(sessionStorage.getItem("currentPage"));

      $("#first").append(`<tr>
					                  <td class='w-50'><img src='{{ "https://segmentedimagesoutdir.s3.amazonaws.com/${first_sliced_list[i]}" }}' class="img-fluid img-thumbnail" alt="Sheep">
						                  <input type="hidden" name="pic`+ parseInt(k + i) + `" id="pic`+ parseInt(k + i) + `" value="https://segmentedimagesoutdir.s3.amazonaws.com/${first_sliced_list[i]}"></td>
					                  <td><textarea class='form-control' id='text`+ parseInt(k + i) + `'  name='text` + parseInt(k + i) + `' onfocus='getText(`+parseInt(k+i)+`)'  rows="1" value='{{ csrf_token }}' required></textarea></td>
				                  </tr>`);

    }
    k += first_sliced_list.length;
    bind(0);

  });

  function go() {
    const current_page = Number(sessionStorage.getItem("currentPage"));
    flag = true;
    bind(current_page);
  }
 
  
	function getText(id){
		if(k==formatted_arr.length){
			finalFlag=true;
		}
		remainder = 5;
		if(k%5>0 && k==formatted_arr.length){
			remainder = k%5;
		}
		alert("1");
		console.log("id:",id);
		console.log("k:",k);
		console.log("remainder:",remainder);
		if(id==k-1&&!finalFlag){
			go();
		}else if(id==k-remainder&&id!=0&&!finalFlag||(finalFlag&&id==k-1)){
			 isFinalText(id);
		}
	}
	
	function isFinalText(id){
		if(finalFlag&&id==k-1){
			console.log("进来");
			setTimeout("sendLastPost()", "10000");
		}else{
			sendPost();
		}
	}
	function sendPost(){
		 const current_page = Number(sessionStorage.getItem("currentPage"));
			const pictures = [];
			for(i = 0; i < sliced_list[current_page].length; i++) {
			pictures.push({
				"pic": $(`#pic${k-remainder-5+i}`).val(),
				"text": $(`#text${k-remainder-5+i}`).val()
				});
			}
			console.log("pictures:",pictures);
			//请求后台
			const request = {pictures: pictures};

			fetch('', {
				headers :{
				"X-CSRFToken":document.cookie.split(';')[0].substring(10)},
				credentials: 'same-origin',
				body: JSON.stringify(request),
				method: "POST"
				}).then(res => res.json())
				.catch(error => console.error('Error:', error))
				.then(response => {
				sessionStorage.setItem("currentPage", String(current_page + 1));
				console.log('Success:', response);
			});
					
	}
	function sendLastPost(){
		sendPost();
		go();
		$("#text"+parseInt(k-1)).blur();
	}
	
</script>

</html>
