{% extends "base.html" %}
  {% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
    <form>
      <table class="table table-image">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Type What You See in The Picture</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="w-25">
              Example: <img src="{% static 'image/pic1.jpg' %}" class="img-fluid img-thumbnail" alt="Sheep">
            </td>
            <td><p></p><textarea disabled class="form-control" id="exampleFormControlTextarea1" rows="4" >Handwritten letters will never go out of style!</textarea></td>

          </tr>
          <tr>
            <td class="w-25">
              <img src="{% static 'image/pic1.jpg' %}" class="img-fluid img-thumbnail" alt="Sheep">
            </td>
            <td><textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea></td>
          </tr>
          <tr>
            <td class="w-25">
             <img src="{% static 'image/pic1.jpg' %}" class="img-fluid img-thumbnail" alt="Sheep">
             </td>
             <td><textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea></td>
          </tr>
         <tr>
            <td class="w-25">
              <img src="{% static 'image/pic1.jpg' %}" class="img-fluid img-thumbnail" alt="Sheep">
            </td>
            <td><textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea></td>
         </tr>
         <tr>
            <td class="w-25">
              <img src="{% static 'image/pic1.jpg' %}" class="img-fluid img-thumbnail" alt="Sheep">
            </td>
            <td><textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea></td>
         </tr>
        </tbody>
      </table>
      <div class="button-center">
      <input style="position: absolute; left: 50%;"class="btn btn-primary" type="submit" value="Submit">
      </div>
    </form>   
      </div>
    </div>
  </div>
  {% endblock %}
