{% extends "base.html" %}
{% block content %}

    <html>
    <head>

        <style type="text/css">
            .customize-radio label > input[type = 'radio'] {
                visibility: hidden;
                position: absolute;
            }
            .customize-radio label > input[type = 'radio']:checked ~ span.haha-img{
                background-image: url('haha.png');
            }
            .customize-radio label > input[type = 'radio']:checked ~ span.kiss-img{
                background-image: url('kiss.png');
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    </head>

    <body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="post" name="form2" action="">
                    {% csrf_token %}
                    <table class="table table-image">
                        <thead>
                        <tr class="row m-0">
                            <th class="d-inline-block col-5" scope="col">Image</th>
                            <th class="d-inline-block col-5" scope="col">Corresponding Text</th>
                            <th class="d-inline-block col-2"scope="col">Is it correct?</th>
                        </tr>
                        </thead>
                        <tbody id = "val_first">
                        {##}
                        {#                        <!-- First block -->#}
                        {#                        <tr class="row m-0">#}
                        {#                            <td class="d-inline-block col-5">#}
                        {#                                <p class="text-primary"></p> <img src="{% static 'sample_image/pic1.jpg' %}" class="img-fluid img-thumbnail" alt="Sheep">#}
                        {#                            </td>#}
                        {#                            <td class="d-inline-block col-5"><p></p><textarea class="form-control" id="Textarea1" rows="3" disabled=true>Handwritten letters will never go out of style!</textarea><div class = "submitSentence"></div>#}
                        {#                            </td>#}
                        {#                            <td class="d-inline-block col-2">#}
                        {#                                <br>#}
                        {#                                <label class = "val1">#}
                        {#                                    <!-- button-->#}
                        {#                                    <div class="customize-radio">#}
                        {#                                        <label>#}
                        {#                                            <input type = "radio" name = "validation1" id ="Correct1" value = "0" onclick="Change(2);enableSubmitButton(2)">#}
                        {#                                            <span class="iconify" data-icon="bi-hand-thumbs-up-fill" data-inline="false" style="color: Green;" data-width="48" data-height="48"></span>#}
                        {#                                        </label>#}
                        {#                                        <label>#}
                        {#                                            <input type = "radio" name = "validation1" id ="Incorrect1" value = "1" onclick="Change(1);enableSubmitButton(1)">#}
                        {#                                            <span class="iconify" data-icon="bi-hand-thumbs-down-fill" data-inline="false" style="color: Red;" data-width="48" data-height="48"></span>#}
                        {#                                        </label>#}
                        {#                                    </div>#}
                        {##}
                        {##}
                        {##}
                        {##}
                        {##}
                        {#                            </td>#}
                        {#                        </tr>#}
                        {#                        <!-- Second block -->#}
                        {#                        <tr class="row m-0">#}
                        {#                            <td class="d-inline-block col-5">#}
                        {#                                <p class="text-primary"><img src="{% static 'sample_image/pic1.jpg' %}" class="img-fluid img-thumbnail" alt="Sheep">#}
                        {#                            </td>#}
                        {#                            <td class="d-inline-block col-5"><textarea class="form-control" id="Textarea2" rows="5" disabled=true>Handwritten letters will never go out of style!</textarea></td>#}
                        {#                            <td class="d-inline-block col-2">#}
                        {#                                <br>#}
                        {#                                <!-- button -->#}
                        {#                                <div class="customize-radio">#}
                        {#                                    <label>#}
                        {#                                        <input type = "radio" name = "validation2" id ="Correct2" value = "0" onclick="Change(2)">#}
                        {#                                        <span class="iconify" data-icon="bi-hand-thumbs-up-fill" data-inline="false" style="color: Green;" data-width="48" data-height="48"></span>#}
                        {#                                    </label>#}
                        {#                                    <label>#}
                        {#                                        <input type = "radio" name = "validation2" id ="Incorrect2" value = "1" onclick="Change(1)">#}
                        {#                                        <span class="iconify" data-icon="bi-hand-thumbs-down-fill" data-inline="false" style="color: Red;" data-width="48" data-height="48"></span>#}
                        {#                                    </label>#}
                        {#                                </div>#}
                        {##}
                        {#                            </td>#}
                        {#                        </tr>#}
                        {##}
                        {#                        <!-- Third block -->#}
                        {#                        <tr class="row m-0">#}
                        {#                            <td class="d-inline-block col-5">#}
                        {#                                <p class="text-primary"><img src="{% static 'sample_image/pic1.jpg' %}" class="img-fluid img-thumbnail" alt="Sheep">#}
                        {#                            </td>#}
                        {#                            <td class="d-inline-block col-5"><textarea disabled class="form-control" id="Textarea3" rows="5" >Handwritten letters will never go out of style!</textarea></td>#}
                        {#                            <td class="d-inline-block col-2">#}
                        {#                                <p></p>#}
                        {#                                <!-- button of correct -->#}
                        {#                                <div class="customize-radio">#}
                        {#                                    <label>#}
                        {#                                        <input type = "radio" name = "validation3" id ="Correct3" value = "0" onclick="Change(2)">#}
                        {#                                        <span class="iconify" data-icon="bi-hand-thumbs-up-fill" data-inline="false" style="color: Green;" data-width="48" data-height="48"></span>#}
                        {#                                    </label>#}
                        {#                                    <label>#}
                        {#                                        <input type = "radio" name = "validation3" id ="Incorrect3" value = "1" onclick="Change(1)">#}
                        {#                                        <span class="iconify" data-icon="bi-hand-thumbs-down-fill" data-inline="false" style="color: Red;" data-width="48" data-height="48"></span>#}
                        {#                                    </label>#}
                        {#                                </div>#}
                        {##}
                        {#                            </td>#}
                        {#                        </tr>#}
                        {#                        <!-- fourth block -->#}
                        {#                        <tr class="row m-0">#}
                        {#                            <td class="d-inline-block col-5">#}
                        {#                                <p class="text-primary"><img src="{% static 'sample_image/pic1.jpg' %}" class="img-fluid img-thumbnail" alt="Sheep">#}
                        {#                            </td>#}
                        {#                            <td class="d-inline-block col-5"><textarea disabled class="form-control" id="Textarea4"  rows="5" >Handwritten letters will never go out of style!</textarea></td>#}
                        {#                            <td class="d-inline-block col-2">#}
                        {#                                <br><p></p>#}
                        {#                                <!-- button of correct -->#}
                        {#                                <button type="button" class="btn btn-default btn-sm" onclick="ChangeDisabled(9)">#}
                        {#                                    <span class="iconify" data-icon="bi-hand-thumbs-up-fill" data-inline="false" style="color: Green;" data-width="48" data-height="48"></span>#}
                        {#                                </button>#}
                        {#                                <!-- button of incorrect -->#}
                        {#                                <button type = "button" class="btn btn-default btn-sm" onclick="ChangeDisabled(4)">#}
                        {#                                    <span class="iconify" data-icon="bi-hand-thumbs-down-fill" data-inline="false" style="color: Red;" data-width="48" data-height="48"></span>#}
                        {#                                </button>#}
                        {#                            </td>#}
                        {#                        </tr>#}
                        {##}
                        {#                        <!-- fifth block -->#}
                        {#                        </tr>#}
                        {#                        <tr class="row m-0">#}
                        {#                            <td class="d-inline-block col-5">#}
                        {#                                <p class="text-primary"><img src="{% static 'sample_image/pic1.jpg' %}" class="img-fluid img-thumbnail" alt="Sheep">#}
                        {#                            </td>#}
                        {#                            <td class="d-inline-block col-5"><textarea disabled class="form-control" id="Textarea5" rows="3" >Handwritten letters will never go out of style!</textarea></td>#}
                        {#                            <td class="d-inline-block col-2">#}
                        {#                                <br>#}
                        {#                                <!-- button of correct -->#}
                        {#                                <button type="button" class="btn btn-default btn-sm" onclick="ChangeDisabled(10)">#}
                        {#                                    <span class="iconify" data-icon="bi-hand-thumbs-up-fill" data-inline="false" style="color: Green;" data-width="48" data-height="48"></span>#}
                        {#                                </button>#}
                        {#                                <!-- button of incorrect -->#}
                        {#                                <button type = "button" class="btn btn-default btn-sm" onclick="ChangeDisabled(5)">#}
                        {#                                    <span class="iconify" data-icon="bi-hand-thumbs-down-fill" data-inline="false" style="color: Red;" data-width="48" data-height="48"></span>#}
                        {#                                </button>#}
                        {#                            </td>#}
                        {#                        </tr>#}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    </body>
    <input type="hidden" id ="all_pic" name="all_pic" value="{{ all_pic }}">
{#    <script>#}
        // how to get the value of Radio(multiple selection) https://www.runoob.com/try/try.php?filename=tryjsref_radio_value
        {#function displayResult(){#}
        {#    let radios = document.getElementsByName('validation1');#}
        {#    for (let i = 0, length = radios.length; i < length; i++) {#}
        {#        if (radios[i].checked) {#}
        {#            // 弹出选中值#}
        {#            alert(radios[i].value);#}
        {#            // 选中后退出循环#}
        {#            break;#}
        {#        }#}
        {#    }#}
        {#
        {##}
        {#function Change(value){#}
        {#    if(value===1){#}
        {#        document.getElementById('Textarea1').disabled=false;#}
        {#    }else{#}
        {#        document.getElementById('Textarea1').disabled=true;#}
        {#    }#}
        {#
{#    </script>#}
    <script>  //https://www.wibibi.com/info.php?tid=184
    function ChangeDisabled(value){
        const current_page = Number(sessionStorage.getItem("currentPage"));
        for (let i = 0; i < sliced_list[current_page].length; i++) {
            if(value === 0){
                document.getElementById('val_text`+ parseInt(k + i) + `').disabled=false;
            }else{
                document.getElementById('val_text`+ parseInt(k + i) + `').disabled=true;
            }
        }
    }
    function enableSubmitButton(value) {
        const current_page = Number(sessionStorage.getItem("currentPage"));
        for (let i = 0; i < sliced_list[current_page].length; i++) {
            if (value === 0) {
                document.getElementById('val_text`+ parseInt(k + i) + `').disabled = false;
                $('.submitSentence').html(`<button type="button" name="correspondingText" id="correspondingText1" onclick=""> Submit </button>`)
            } else {
                document.getElementById('val_text`+ parseInt(k + i) + `').disabled = true;
                $('.submitSentence').html(``)
            }
        }
    }
    const sliced_list = [];
    var flag = false;
    var k = 0;
    var remainder = 5;
    var finalFlag = false;
    function bind(page) {
        if (flag) {
            const current_page = Number(sessionStorage.getItem("currentPage"));
            if (Number(current_page) < sliced_list.length - 1 || remainder != 5) {
                const pictures = []
                if (remainder!= 5){
                    finalFlag = False;
                }
                //data = {};
                for(i = 0; i < sliced_list[current_page].length; i++) {
                    pictures.push({
                        "pic": $(`#pic${k-remainder+i}`).val(),
                        "text": $(`#text${k-remainder+i}`).val()
                    });
                }
                const request = {pictures: pictures};
                //console.log("pictures:",pictures);
                {#fetch('', {#}
                {#  headers :{#}
                {#  "X-CSRFToken":document.cookie.split(';')[0].substring(10)},#}
                {#  credentials: 'same-origin',#}
                {#  body: JSON.stringify(request),#}
                {#  method: "POST"}).then(res => res.json())#}
                {#  .catch(error => console.error('Error:', error))#}
                {#  .then(response => {#}
                {#    sessionStorage.setItem("currentPage", String(current_page + 1));#}
                {#    next(sliced_list);#}
                {#    console.log('Success:', response);#}
                {#  });#}
                sessionStorage.setItem("currentPage", String(current_page + 1));
                //onload();
                {#next(sliced_list);#}
            } else {

                alert("All pictures are annotated!");
            }
        }
        //onload();
        //$(function(){ window.location.hash = "#text"+parseInt(k-5); })
    }
    function next(sliced_list) {
        const current_page = Number(sessionStorage.getItem("currentPage"));
        const paged_list = sliced_list[current_page];
        for (let i = 0; i < paged_list.length; i++) {
            $("#next" + parseInt(k - 1)).attr("style", "display:none;");
            $("#val_first").append(` <tr class="row m-0">
                              <td class="d-inline-block col-5">
                                    <img src='{{ "https://segmentedimagesoutdir.s3.amazonaws.com/${paged_list[i]}" }}' class="img-fluid img-thumbnail" alt="Sheep">
						            <input type="hidden" name="val_pic`+ parseInt(k + i) + `" id="val_pic`+ parseInt(k + i) + `" value="https://segmentedimagesoutdir.s3.amazonaws.com/${paged_list[i]}"></td>
					          <td class="d-inline-block col-5"><textarea class='form-control' id='val_text`+ parseInt(k + i) + `' name='val_text` + parseInt(k + i) + `' rows="3" value='{{ csrf_token }}' disabled=true></textarea></td><div class = 'submitSentence` + parseInt(k + i) + `'></div>
                              <td class="d-inline-block col-2">
                              <br>
                                    <div class="customize-radio">
                                    <label>
                                    <input type = "radio" name = "validation`+ parseInt(k + i) + `" id ="correct`+ parseInt(k + i) + `" value = "1" onclick="ChangeDisabled(2);enableSubmitButton(2)">
                                    <span class="iconify" data-icon="bi-hand-thumbs-up-fill" data-inline="false" style="color: Green;" data-width="48" data-height="48"></span>
                                    </label>
                                    <label>
                                    <input type = "radio" name = "validation`+ parseInt(k + i) + `" id ="incorrect`+ parseInt(k + i) + `" value = "0" onclick="ChangeDisabled(1);enableSubmitButton(1)">
                                    <span class="iconify" data-icon="bi-hand-thumbs-down-fill" data-inline="false" style="color: Red;" data-width="48" data-height="48"></span>
                                    </label>
                                    </div>
				            </tr>`
            );
        }
        k += paged_list.length;
        flag = false;
        bind(current_page);
    }


    $(document).ready(function () {
        console.log("hello")
        sessionStorage.setItem("currentPage", String(0));
        const string_all_pic = document.getElementById("all_pic").value;
        const formatted_arr = [];
        string_all_pic.substring(1, string_all_pic.length - 1).split(", ").forEach((item) => {
            formatted_arr.push(item.substring(1, item.length - 1));
        });
        {#console.log(currentPage)#}
        const size = 5
        for (let i = 0; i < formatted_arr.length; i += size) {
            sliced_list.push(formatted_arr.slice(i, i + size));
        }
        const first_sliced_list = sliced_list[0];
        console.log(first_sliced_list)
        for (let i = 0; i < first_sliced_list.length; i++) {
            console.log("hi")
            var page = Number(sessionStorage.getItem("currentPage"));
            console.log(page)
            $("#val_first").append(` <tr class="row m-0">
                              <td class="d-inline-block col-5">
                                    <img src='{{ "https://segmentedimagesoutdir.s3.amazonaws.com/${first_sliced_list[i]}" }}' class="img-fluid img-thumbnail" alt="Sheep">
						            <input type="hidden" name="val_pic`+ parseInt(k + i) + `" id="val_pic`+ parseInt(k + i) + `" value="https://segmentedimagesoutdir.s3.amazonaws.com/${first_sliced_list[i]}"></td>
					          <td class="d-inline-block col-5"><textarea class='form-control' id='val_text`+ parseInt(k + i) + `' name='val_text` + parseInt(k + i) + `' rows="3" value='{{ csrf_token }}' disabled=true></textarea></td><div class = 'submitSentence` + parseInt(k + i) + `'></div>
                              <td class="d-inline-block col-2">
                              <br>
                                 <div class="customize-radio">
                                    <label>
                                    <input type = "radio" name = "validation`+ parseInt(k + i) + `" id ="correct`+ parseInt(k + i) + `" value = "1" onclick="ChangeDisabled(2);enableSubmitButton(2)">
                                    <span class="iconify" data-icon="bi-hand-thumbs-up-fill" data-inline="false" style="color: Green;" data-width="48" data-height="48"></span>
                                    </label>
                                    <label>
                                    <input type = "radio" name = "validation`+ parseInt(k + i) + `" id ="incorrect`+ parseInt(k + i) + `" value = "0" onclick="ChangeDisabled(1);enableSubmitButton(1)">
                                    <span class="iconify" data-icon="bi-hand-thumbs-down-fill" data-inline="false" style="color: Red;" data-width="48" data-height="48"></span>
                                    </label>
                                    </div>
				            </tr>`
            );
        }
        k += first_sliced_list.length;
        bind(0);
        //onload();
    });

    function go() {
        const current_page = Number(sessionStorage.getItem("currentPage"));
        flag = true;
        bind(current_page);
        console.log(current_page)

    }

    setInterval("onload()", "1000");
    function onload() {
        var nextflag = false;
        var count = 0;
        var page = Number(sessionStorage.getItem("currentPage"));
        remainder = 5;
        if(k%5>0 && finalFlag){
            remainder = k%5;
        }
        for (var i = k-remainder; i < k; i++) {
            //console.log("k:",k);
            //console.log("i:",i);
            var thumb_up = document.getElementById("val_thumb_up" + i).value;
            var thumb_down = document.getElementById("val_thumb_down" + i).value
            if (thumb_up == "thumb_up" || thumb_down == "thumb_down") {
                count++;
            }
        }
        //console.log("count:",count);
        if (count == remainder) {
            go();
        }
    }
    </script>
{% endblock %}



