{% extends "base.html" %}
{% block content %}

    <html>
    <head>

        <style type="text/css">
            .customize-radio label > input[type = 'radio'] {
                visibility: hidden;
                position: absolute;
            }
            .customize-radio label > input[type = 'radio']:checked ~ span.haha-img{
                background-image: url('haha.png');
            }
            .customize-radio label > input[type = 'radio']:checked ~ span.kiss-img{
                background-image: url('kiss.png');
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    </head>

    <body>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="post" name="form2" action="">
                    {% csrf_token %}
                    <table class="table table-image">
                        <thead>
                        <tr class="row m-0">
                            <th class="d-inline-block col-5" scope="col">Image</th>
                            <th class="d-inline-block col-5" scope="col">Corresponding Text</th>
                            <th class="d-inline-block col-2"scope="col">Is it correct?</th>
                        </tr>
                        </thead>
                        <tbody id = "val_first">
                        
                                               
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    </body>
    <input type="hidden" id ="all_pic" name="all_pic" value="{{ all_pic }}">
    <input type="hidden" id ="all_text" name="all_text" value="{{ all_text }}">
    <!-- <script>
        // how to get the value of Radio(multiple selection) https://www.runoob.com/try/try.php?filename=tryjsref_radio_value
        function displayResult(){
            let radios = document.getElementsByName('validation1');
            for (let i = 0, length = radios.length; i < length; i++) {
                if (radios[i].checked) {
                    // 弹出选中值#}
                    alert(radios[i].value);
                    // 选中后退出循环#}
                    break;
                }
            }
        
        
        function Change(value){
            if(value===1){
                document.getElementById('Textarea1').disabled=false;
            }else{
                document.getElementById('Textarea1').disabled=true;
            }
        
    </script> -->
    <script>  //https://www.wibibi.com/info.php?tid=184
	var sum=0;
    function ChangeDisabled(id,value){
        const current_page = Number(sessionStorage.getItem("currentPage"));
		console.log("ChangeDisabled_id:",id);
        //for (let i = 0; i < sliced_list[current_page].length; i++) {
            if(value === 0){
                document.getElementById('val_text'+ id).disabled=false;
            }else{
                document.getElementById('val_text'+ id).disabled=true;
            }
        //}
    }
    function enableSubmitButton(id,value) {
		console.log("id:",id);
		console.log("value:",value);
		var correctVal = document.getElementById("correct" + id).value;
        var incorrectVal = document.getElementById("incorrect" + id).value;
		if(correctVal==0&&incorrectVal==0){
			sum++;			
		}
            if (value === 0) {
				$('#incorrect'+id).attr("value","1");
				$('#correct'+id).attr("value","0");
                document.getElementById('val_text'+id).disabled = false;
                $('#submitSentence'+id).html(`<button type="button" name="correspondingText" id="correspondingText1`+id+`"   onclick="send(`+id+`)"> Submit </button>`);
				console.log("button:",$('#submitSentence'+id).html());
            } else {
				$('#incorrect'+id).attr("value","0");
				$('#correct'+id).attr("value","1");
                document.getElementById('val_text'+id).disabled = true;
                $('#submitSentence'+id).html(``);
				send(id);
            }
			onload();
    }
    const sliced_list = [];
    var flag = false;
    var k = 0;
    var remainder = 5;
    var finalFlag = false;
    function bind(page) {
        if (flag) {
            const current_page = Number(sessionStorage.getItem("currentPage"));
            if (Number(current_page) < sliced_list.length - 1 || remainder != 5) {
                const pictures = []
                if (remainder!= 5){
                    finalFlag = False;
                }
				//send();
                //data = {};
                //for(i = 0; i < sliced_list[current_page].length; i++) {
                //    pictures.push({
                //        "pic": $(`#pic${k-remainder+i}`).val(),
                //        "text": $(`#text${k-remainder+i}`).val()
                //   });
                //}
                //const request = {pictures: pictures};
                //console.log("pictures:",pictures);
                // fetch('', {
                //   headers :{
                //   "X-CSRFToken":document.cookie.split(';')[0].substring(10)},
                //   credentials: 'same-origin',
                //   body: JSON.stringify(request),
                //   method: "POST"}).then(res => res.json())
                //   .catch(error => console.error('Error:', error))
                //   .then(response => {
                //     sessionStorage.setItem("currentPage", String(current_page + 1));
                     next(sliced_list);
                //     console.log('Success:', response);
                //   });
                sessionStorage.setItem("currentPage", String(current_page + 1));
                //onload();
                // next(sliced_list);
            } else {

                alert("All pictures are annotated!");
            }
        }
        //onload();
        //$(function(){ window.location.hash = "#text"+parseInt(k-5); })
    }
    function next(sliced_list) {
        const current_page = Number(sessionStorage.getItem("currentPage"));
        const paged_list = sliced_list[current_page];
        for (let i = 0; i < paged_list.length; i++) {
            $("#next" + parseInt(k - 1)).attr("style", "display:none;");
            $("#val_first").append(` <tr class="row m-0">
                              <td class="d-inline-block col-5">
                                    <img src='{{ "https://segmentedimagesoutdir.s3.amazonaws.com/${paged_list[i]}" }}' class="img-fluid img-thumbnail" alt="Sheep">
						            <input type="hidden" name="val_pic`+ parseInt(k + i) + `" id="val_pic`+ parseInt(k + i) + `" value="https://segmentedimagesoutdir.s3.amazonaws.com/${paged_list[i]}"></td>
					          <td class="d-inline-block col-5"><textarea class='form-control' id='val_text`+ parseInt(k + i) + `' name='val_text` + parseInt(k + i) + `' rows="3" value='{{ csrf_token }}' disabled=true></textarea><div id = 'submitSentence`+ parseInt(k + i) +`'></div></td>
                              <td class="d-inline-block col-2">
                              <br>
                                    <div class="customize-radio">
                                    <label>
                                    <input type = "radio" name = "validation`+ parseInt(k + i) + `" id ="correct`+ parseInt(k + i) + `" value = "0" onclick="ChangeDisabled(`+parseInt(k + i)+` ,1);enableSubmitButton(`+parseInt(k + i)+` ,1)">
                                    <span class="iconify" data-icon="bi-hand-thumbs-up-fill" data-inline="false" style="color: Green;" data-width="48" data-height="48"></span>
                                    </label>
                                    <label>
                                    <input type = "radio" name = "validation`+ parseInt(k + i) + `" id ="incorrect`+ parseInt(k + i) + `" value = "0" onclick="ChangeDisabled(`+parseInt(k + i)+` ,0);enableSubmitButton(`+parseInt(k + i)+` ,0)">
                                    <span class="iconify" data-icon="bi-hand-thumbs-down-fill" data-inline="false" style="color: Red;" data-width="48" data-height="48"></span>
                                    </label>
                                    </div>
				            </tr>`
            );
        }
        k += paged_list.length;
        flag = false;
        bind(current_page);
    }


    $(document).ready(function () {
        console.log("hello")
        sessionStorage.setItem("currentPage", String(0));
        const string_all_pic = document.getElementById("all_pic").value;
        const formatted_arr = [];
        string_all_pic.substring(1, string_all_pic.length - 1).split(", ").forEach((item) => {
            formatted_arr.push(item.substring(1, item.length - 1));
        });

        //要找對應的.txt
        const string_all_text = document.getElementById("all_text").value;
        const formatted_arr_text = [];
        string_all_text.substring(1, string_all_text.length - 1).split(", ").forEach((item) => {
            formatted_arr_text.push(item.substring(1, item.length - 1));
        });

        console.log(formatted_arr_text)

        const size = 5
        for (let i = 0; i < formatted_arr.length; i += size) {
            sliced_list.push(formatted_arr.slice(i, i + size));
        }
        const first_sliced_list = sliced_list[0];
        for (let i = 0; i < first_sliced_list.length; i++) {
            var page = Number(sessionStorage.getItem("currentPage"));
            console.log(page)
            //Here
            var imgname = first_sliced_list[i]
            const cor_txt = formatted_arr_text.find(imgname.substring(17, imgname.length - 4))
            console.log(cor_txt)
            $("#val_first").append(` <tr class="row m-0">
                              <td class="d-inline-block col-5">
                                    <img src='{{ "https://segmentedimagesoutdir.s3.amazonaws.com/${first_sliced_list[i]}" }}' class="img-fluid img-thumbnail" alt="Sheep">
						            <input type="hidden" name="val_pic`+ parseInt(k + i) + `" id="val_pic`+ parseInt(k + i) + `" value="https://segmentedimagesoutdir.s3.amazonaws.com/${first_sliced_list[i]}"></td>
					          <td class="d-inline-block col-5"><textarea class='form-control' id='val_text`+ parseInt(k + i) + `' name='val_text` + parseInt(k + i) + `' rows="3" value="https://segmentedimagesoutdir.s3.amazonaws.com/validating_text/${cor_txt}.txt" disabled=true></textarea><div id = 'submitSentence`+ parseInt(k + i)+`'></div></td>
                              <td class="d-inline-block col-2">
                              <br>
                                 <div class="customize-radio">
                                    <label>
                                    <input type = "radio" name = "validation`+ parseInt(k + i) + `" id ="correct`+ parseInt(k + i) + `" value = "0" onclick="ChangeDisabled(`+parseInt(k + i)+` ,1);enableSubmitButton(`+parseInt(k + i)+` ,1)">
                                    <span class="iconify" data-icon="bi-hand-thumbs-up-fill" data-inline="false" style="color: Green;" data-width="48" data-height="48"></span>
                                    </label>
                                    <label>
                                    <input type = "radio" name = "validation`+ parseInt(k + i) + `" id ="incorrect`+ parseInt(k + i) + `" value = "0" onclick="ChangeDisabled(`+parseInt(k + i)+` ,0);enableSubmitButton(`+parseInt(k + i)+` ,0)">
                                    <span class="iconify" data-icon="bi-hand-thumbs-down-fill" data-inline="false" style="color: Red;" data-width="48" data-height="48"></span>
                                    </label>
                                    </div>
				            </tr>`
            );
        }
        k += first_sliced_list.length;
        bind(0);
        //onload();
    });

    function go() {
        const current_page = Number(sessionStorage.getItem("currentPage"));
        flag = true;
        bind(current_page);
        console.log(current_page)

    }


    function onload() {
        var nextflag = false;
        var count = 0;
        var page = Number(sessionStorage.getItem("currentPage"));
        remainder = 5;
        if(k%5>0 && finalFlag){
            remainder = k%5;
        }
        
        if (sum == k) {
            go();
        }
    }
	
	function send(id){
		if(id==""){
			for(i = 0; i < sliced_list[current_page].length; i++) {
                    pictures.push({
                        "pic": $(`#pic${k-remainder+i}`).val(),
                        "text": $(`#text${k-remainder+i}`).val()
                    });
                }
			}else{
				pictures.push({
                        "pic": $(`#pic${id}`).val(),
                        "text": $(`#text${id}`).val()
                    });
			}
                const request = {pictures: pictures};
                console.log("pictures:",pictures);
                 fetch('', {
                   headers :{
                   "X-CSRFToken":document.cookie.split(';')[0].substring(10)},
                   credentials: 'same-origin',
                   body: JSON.stringify(request),
                   method: "POST"}).then(res => res.json())
                   .catch(error => console.error('Error:', error))
                   .then(response => {
                     sessionStorage.setItem("currentPage", String(current_page + 1));
                //     next(sliced_list);
                     console.log('Success:', response);
                   });
	}
    </script>
{% endblock %}



